tr {
    border-bottom-color: white !important;
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    background-image: url(../img/libraryrr.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #eceff1;
}

text, input, select, textarea{
    color: #eceff1 !important;
}